*, *::before, *::after {
    margin:0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: linear-gradient( 183.5deg,  rgba(244,173,6,1) 18.6%, rgba(229,251,31,1) 119.9% );
}
*, button, h1, input{
    font-family: courier, Arial, sans-serif;
}

*, li {
    list-style:none ;
}
